body {
    background-color: rgb(229, 227, 227);
} 
.menu {
    margin-bottom: 5px;
    height: 40px;
    
    background-color: rgb(207, 204, 204);
}

.menu ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-size:x-large;
   }
  
.contenido {
    color: rgb(8, 41, 30);
    justify-content: space-around;
    display: flex;
    background-color: beige;
    height: 400px;
    justify-content: space-around;
}
p {
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: aliceblue;
}

.izquierda {
    width: 30%;
    margin: 1%;
    margin-right: 0%;
    background-image: url(../img/1.jpg);
    display: flex;
}
    a{
        text-decoration: none;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 16px;
        color: black;
        text-align: end;
    }
    .centro {
    width: 30%;
    margin: 3%;
    background-image: url(../img/2.jpg);
    margin: 1%;
    margin-right: 0%;
}
.derecha {
    width: 30%;
    margin: 1%;
    background-image: url(../img/3.jpg);
}
.servicios {
    border-top: solid;
    border-color: grey;
    margin: 10px;  
             }
.servicios ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-size:x-large;
   }
 

