h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    color: #834e4e;
    font-style: italic;
}

h2 {
    font-size: medium;
    color: #834e4e;
    font-weight: bold;
    text-align: right;
}

body {
    background-color: rgb(223, 221, 221);
}

a h1 {
    text-align: left;
}

.menu {
    height: 15px;
    padding-bottom: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: italic;
    border-bottom: solid;
    border-color: rgb(169, 169, 169);
    border-width: 2px;
}

.loguin {
    display: flex;
    width: 15%;
    margin-left: 85%;
}

.menu ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-size: large;

}

.contenido {
    justify-content: space-around;
    display: flex;
    background-color: aliceblue;
    height: 400px;
    font-size: smaller, lighter;
    text-align: left;
    border-style: none;
}

p {
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: aliceblue;
}

.izquierda,
.centro,
.derecha {
    width: 30%;
    margin: 1%;
    display: flex;
    border-radius: 10px;
    border-style: none;
    background-position: center;
    background-size: cover;
    padding-left: 7px;

}

.izquierda {
    background-image: url(../img/1.jpg);
}

.centro {
    background-image: url(../img/2.jpg);
}

.derecha {
    background-image: url(../img/3.jpg);
}

a {
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: small;
    color: beige;
    text-align:center;
    }

.servicios {
    border-top: solid;
    border-color: grey;
    border-width: 2px;
}

.servicios ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    vertical-align: middle;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: medium;
    font-style: italic;

}

table,
th,
td,
tr {
    width: 23%;
    border: 1px solid rgb(28, 28, 28);
    border-collapse: collapse;
    text-align: center;
    margin:auto;
}

th {
    background-color: rgb(236, 191, 191);
}

.imagen_producto {
    background-image: url(../img/producto.jpg);
    display: flex;
    height: 330px;
    width: 100%;
    background-position: center;
    background-size: cover;
    
}

.div_tabla {
    margin-top: 30px;
    margin-bottom: 30px;
    }

.tabla {
    display: flex;
    background-color: #834e4e;
    width: 8%;
    border-radius: 3px;
    justify-content: center;
}

.producto {
    display: flex;
    margin-left: 210px;
    padding: 10px;
    background-color: aliceblue;
    width: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.desc_producto {
    background-color: aliceblue;
    padding: 0px 10px  0px 10px;
   
}

.div_boton_compra {
    height: 50px;
}

p.nombre_prod {
    color: #834e4e;
    font-size: 22px;
    height: 10px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
  display: flex;
    align-content: space-around;
    vertical-align: middle;
}

.boton_comprar {
    display: flex;
    margin: auto;
    background-color: #834e4e;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: aliceblue;
    border-radius: 5px;
    height: 40px;
    width: 100px;
    padding: 11px 0px 0px 12px;
    margin-top: 100px;
    margin-bottom: 50px;
}

.p_producto {
    color: #834e4e;
    font-size: 16px;
    text-align: justify;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.nombre {
    margin-bottom: 5px;
}

.tabla_p {
    display: flex;
    justify-content: center;
    padding-top: 8px;
    margin: auto;
    background-color: #834e4e;
    width: 35%;
   height: 18px;
    border-radius: 3px;
    
}

.form {
    margin-top: 0px;
    display: flex;
    justify-content: end;
}

.p_form {
    font-size: medium;
    text-align: justify;
    color: #834e4e;
    /*nuevo*/
    font-weight: bold;
}

.text_form {
    border-bottom: solid;
    border-color: rgb(239, 239, 239);
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: medium;
    font-style: italic;
    color: gray;
    font-family: Georgia, 'Times New Roman', Times, serif;
    /*nuevo*/
    border-radius: 5px;
}

.submit_form {
    /*le agregue detalles y color al boton*/
    background-color: rgb(239, 239, 239);
    border: solid, rgb(47, 47, 47), 2px;
    border-radius: 3px;
    align-items: center;
    text-align: center;
}

.form_sesion {
    width: 70%;
    margin: auto;
    margin-bottom: 30px;
}

form p {
    color: #834e4e;
    font-size: small;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.sesion {
    font-size: small;
    text-align: justify;
    color: #834e4e;
    font-family: Georgia, 'Times New Roman', Times, serif;
}